<header class="header">
    <div class="header-div section">
        <a href="/" class="logo">
            <img src="/public/img/nombre de la img logo" class="logo-principal" alt="Logo">
        </a>
        <a href="/login">
            <img src="/public/img/User.svg" alt="ícono de usuario" class="user" />
        </a>
        <a href="/users/login" class="sesion">Iniciar sesión</a>
        <a href="/users/signup" class="registro">Registrarme</a>
       
       
        
    </div>
    <nav class="header-navegacion section">
        <a href="/">Inicio</a>
        <a href="">Libros</a>
        <a href="">Cómics</a>
        <a href="">De escritorio</a>
        <a href="">Ropa</a>
        <a href="">Coleccionable</a>
        <a href="">Otros</a>
    </nav>
</header>