<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>
            <h1>¡Bienvenido al Sistema de Paneles!</h1>
            
            <main class="section main">
               
            </main>
            <h2>¡ELEGI TU PERFIL!</h2>
            <h3>USUARIO</h2>
                <div class="info">
                <p>Aquí puedes ser un gran usuario</p>
                <a href="/users/signup" class="boton">Ser usuario</a>
                </div>    
            <h3>ADMINISTRADOR</h2>
                <div class="info">
                <p>Aquí puedes ser un gran administrador</p>
                <a href="/users/signup" class="boton">Ser administrador</a>
                </div>
            <%- include('./partials/footer')%>

                <script src="/public/js/app.js">
                </script>
    </body>

</html>