<header class="header">
    <div class="header-div section">
        <a href="/" class="logo">
            <img src="/public/img/logo_sdp.png" class="logo-principal" alt="Logo">
        </a>
        
        <a href="/users/login" class="sesion">Iniciar sesión</a>
        <a href="/users/signup" class="registro">Registrarme</a>
       
       
        
    </div>
    
</header>