<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>
            <h1>¡Bienvenido al Sistema de Paneles!</h1>
            
            <main class="section main">
               
            </main>
            <h2>¡ELEGI TU PERFIL!</h2>
            <section class="section destacado">
                <img src="/public/img/IMG PERFIL USUARIO" alt="USUARIO">
                <div class="info">
                    <h3>USUARIE</h3>
                    <p>Aquí puedes ser un gran usuarie</p>
                    <a href="/products/detail/1" class="boton">Ser usuarie</a>
                </div>
            </section>
            <h3>ADMINISTRADOR</h2>
                <div class="info">
                <p>Aquí puedes ser un gran usuarie</p>
                <a href="/products/detail/1" class="boton">Ser administrador</a>
                </div>
            <%- include('./partials/footer')%>

                <script src="/public/js/app.js">
                </script>
    </body>

</html>